.points{
  position: relative;
}

.point {
  width: fit-content;
  position: relative;
  display: flex;
}

.point:nth-child(1) {
  margin-top: 0;
}

.point:nth-child(2) {
  margin-top: 20.5rem;
  margin-left: 48%;
  margin-right: -0.5rem;
}

.point:nth-child(3) {
  margin-top: 19.5rem;
}

.point__text {
  margin: -0.5rem 0 0 2.25rem;
  max-width: 30rem;
}

.point__title {
  margin-top: -0.5em;
  font-size: var(--text-xl);
}

.point__annotation {
  margin: 2rem 0 0 0;
  line-height: 1.3em;
  font-size: var(--text-xxs);
}

.point__img {
  position: absolute;
  background-repeat: no-repeat;
  background-size:contain;
}

.point__man{
  background-image: url("../../../assets/images/man.svg");
  width: 21.75rem;
  height: 30.5rem;
  top: -4.5rem;
  left: 33rem;
}

.point__arr-first{
  background-image: url("../../../assets/images/arrowLong.svg");
  top: 13.75rem;
  width: 36rem;
  height: 17.875rem;
  left: 2.75rem;
  transform: rotate(7deg);
}

.point__arr-second{
  background-image: url("../../../assets/images/arrowDotted.svg");
  top: 40.625rem;
  left: 3.45rem;
  width: 36rem;
  height: 10rem;
  transform: rotate(-6deg);
}

.point__hand-shake{
  background-image: url("../../../assets/images/handShake.svg");
  width: 41rem;
  height: 19rem;
  right: 0;
  bottom: -7.5rem;
}

@media screen and (max-width: 576px) {
  .point {
    flex-flow: column;
    align-items: center;
  }

  .point:nth-child(2),
  .point:nth-child(3),
  .point:nth-child(4) {
    margin: 4rem 0 0 0;
  }

  .point__text {
    font-size: var(--text-xxs);
    margin: 2rem 0 0 0;
  }

  .point__title {
    text-align: center;
  }

  .point__annotation {
    margin: 1.5rem 0 0 0;
    text-align: center;
  }

  .service > .point:first-child {
    margin-top: 0 !important;
  }

  .point__img {
    display: none;
  }
}
