.select {
    height: 2.5rem;
    padding: 0 1.25rem;
    color: var(--blue);
    border-radius: var(--r-60);
    display: flex;
    align-items: center;
    border: 0.125rem solid var(--blue);
}

.select__text {
    padding: 0 2rem 0 0 ;
}

@media screen and (max-width: 576px) {
  .select {
  }

  .select__text {
  }
}
