.switch {
  border-radius: var(--r-40);
  font-weight: var(--bolder);
  position: relative;
  padding: 0.75rem 2.15rem;
  width: 23.95rem;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: var(--text-m);
}

.switch_active {
  opacity: 1;
}

.switch_inactive {
  opacity: 0.5;
}

@keyframes switch__rect_anim {
  0% {
    stroke-dasharray: 0 1000;
  }
  90% {
    stroke-dasharray: 1000 1;
  }
  100% {
    stroke-dasharray: 0 1000;
  }
}

.switch__svg {
  z-index: -1;
  position: absolute;
  width: calc(100% + 0.625rem);
  height: calc(100% + 0.625rem);
  left: -0.313rem;
  top: -0.313rem;
  overflow: visible;
}

.switch__border {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 0.25rem;
  stroke: var(--blue);
}

.switch__border_anim {
  stroke-dasharray: 0 1000;
}

.switch__border_bg {
  opacity: 0.3;
}

.switch_active .switch__border_anim {
  opacity: 1;
  stroke-dashoffset: 0;
  animation-name: switch__rect_anim;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 15000ms;
}

.switch__number {
  display: none;
}

@media screen and (max-width: 576px) {
  .switch {
    padding: 0;
    border: none;
    border-radius: 1.875rem;
    flex-basis: 2.5rem;
    height: 2.5rem;
    transition: flex-grow 0.75s;
  }

  .switch_inactive {
    border: 2px solid var(--blue);
    color: var(--blue);
    background: transparent;
    opacity: 1;
  }

  .switch_active {
    flex-grow: 0.9;
  }

  .switch__svg {
    display: none;
  }

  .switch__number {
    display: block;
    font-size: var(--text-xxxs);
  }

  .switch_inactive .switch__number {
    opacity: 1;
  }

  .switch_active .switch__number {
    opacity: 0;
  }

  .switch__text {
    position: absolute;
    left: 0;
    right: 0;
    font-size: var(--text-xxxs);
    white-space: nowrap;
  }

  .switch_active .switch__text {
    transition: opacity 1.5s;
    opacity: 1;
  }

  .switch_inactive .switch__text {
    opacity: 0;
  }
}
